@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-blue{
        background-color: #7588db;
    }

    .rounded-l-5xl {
        border-top-left-radius: 2.5rem;
        border-bottom-left-radius: 2.5rem;
    }

    .rounded-5xl{
        border-radius: 1.5rem;
    }
}